@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.container{
    display: grid;
    margin-top: 50px;
}

/* user-setting */
.setting-button{
    width: 100px;
    background-color: #FFFFFF;
    color: #7CA3A3;
    border: 1px solid #A09D9D;
    border-radius: 5px;
    margin-bottom: 10px;
}

button.setting-button:focus{ 	
    border: none;
    outline: 1px solid #A09D9D;
}

.search-setting{
    font-family: 'Noto Sans KR', sans-serif;
    display: grid;
    grid-template-columns: 0.25fr 0.25fr;
    margin-bottom: 10px;
}

#end-date{
    margin-top: 7px;
}

#date-setting, #interest-setting, #complete-button{
    display: none;
}

#date-button, #interest-button{
    background-color: #ffffff;
    border-radius: 10px;
    border-color: #9EC8C8;
}

#interest-setting p{
    margin-bottom: -2px;
}

.interest-prop-ap, .interest-prop-cp{
    width: 30px;
    height: 30px;
}

#complete-button{
    width: 50px;
    margin-left: 150px;
}

/* title */
.main-title{
    font-size: 60px;
    color: #9EC8C8;
    text-align: center;
    text-shadow: 2px 2px 2px #999898;
    font-family: 'Gowun Batang', serif;
    height: 150px;
}

.content{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

/* news-title */
.content{
    height: 300px;
}

.news-title{
    font-family: 'Noto Sans KR', sans-serif;
}

.main-news{
    font-size: 20px;
}

.sub-news{
    font-size: 14px;
    margin-top: 5px;
}

/* term-topic-chart */
#term-topic-chart{
    height: 300px;
    margin-bottom: 100px;
}

/* news-reaction-chart */
.news-reaction-chart{
    display: grid;
    grid-template-columns: 1fr 0.8fr;
}

.naver-chart{
    height: 200px;
}

.daum-chart{
    height: 200px;
}