<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>톺핑있슈(Topping Issue)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
    <form action="news" method="get">
        <div class="container">
            <div class="title">
                <h1 class="main-title">톺핑있슈~</h1>
                <h6 class="sub-title">- Topping Issue -</h6>
            </div>
            <div class="select_box">
                <div class="main_category_box">
                    <label for="category">대분류</label>
                    <select id="main-category">
                        <option hidden></option>
                        <option value="정치">정치</option>
                        <option value="경제">경제</option>
                        <option value="사회">사회</option>
                        <option value="세계">세계</option>
                        <option value="IT/과학">IT/과학</option>
                    </select>
                </div>
                <div class="sub_category_box">
                    <label for="category">중분류</label>
                    <select id="sub-category" name="subCategory">
                    </select>
                </div>
                <div class="search">
                    <button type="submit" class="search-button">검색</button>
                </div>
            </div>
        </div>
    </form>
</body>

</html>