<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뉴스 추천</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="main-title">Topping Issue</h1>
        </div>
        <!-- <div class="search-setting">
            날짜 선택
            비율 선택
            <button type="button" class="search-button">검색</button>
        </div> -->
        <div class="term-topic">
            <canvas id="term-topic-chart"></canvas>
        </div>
        {% for main_title, sub_title in newsData.items() %}
        <div class="content">
            <div class="news-title">
                <div class="main-news">{{ main_title }}</div>
                {% for title in sub_title %}
                    <div class="sub-news">{{ title }}</div>
                {% endfor %}
            </div>
            <div class="news-reaction-chart">
                <div class="naver-news-reaction">
                    <div class="naver">
                        <canvas class="naver-chart"></canvas>
                    </div>
                </div>
                <div class="daum-news-reaction">
                    <div class="daum">
                        <canvas class="daum-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <script>
        console.log({{ sentimentData | tojson | safe }})
    </script>
    <script src="{{ url_for('static', filename='js/news.js') }}"></script>

</body>
</html>