<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>뉴스 추천</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/bars-1to10.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bars-1to10.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.barrating.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chartjs-plugin-doughnutlabel.min.js') }}"></script>
    <script type="text/javascript">
    $(function() {
        $('.interest-prop-ap').barrating({
            theme: 'bars-1to10',
            onSelect: function(value, text, event){
                console.log(value)
            }
        });
        $('.interest-prop-cp').barrating({
            theme: 'bars-1to10',
            onSelect: function(value, text, event){
                console.log(value)
            }
        });
    });
    </script>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="main-title">Topping Issue</h1>
        </div>
        <button class="setting-button">기사 설정</button>
        <div class="search-setting">
            <div id="date-setting">
                <span>* 조회 기간을 선택해주세요 *</span>
                <div class="date">
                    <span>시작일자 : </span>
                    <input type="date" id="start-date">
                </div>
                <div class="date">
                    <span>종료일자 : </span>
                    <input type="date" id="end-date">
                </div>
            </div>
            <div id="interest-setting">
                <p>* 가중치를 선택해주세요 *</p>
                <span>언급량</span>
                <select class="interest-prop-ap">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span>반응</span>
                <select class="interest-prop-cp">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <button class="setting-button" id="complete-button">완료</button>
            </div>
        </div>
        <div class="term-topic">
            <canvas id="term-topic-chart"></canvas>
        </div>
        {% for cluster_name, news_title in newsData.items() %}
        <div class="content">
            <div class="news-title">
                <p class="cluster-name">{{ cluster_name }} </p>
                {% for i in range(news_title[0] | length) %}
                    <div class="news-title" OnClick="location.href = '{{ news_title[1][i] }}'">{{ news_title[0][i] }}</div>
                {% endfor %}
            </div>
            <div class="news-reaction-chart">
                <div class="naver-news-reaction">
                    <div class="naver">
                        <canvas class="naver-chart"></canvas>
                    </div>
                </div>
                <div class="daum-news-reaction">
                    <div class="daum">
                        <canvas class="daum-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <script>
        var N_sentimentData = {{ N_sentimentData | tojson | safe }};
        var D_sentimentData = {{ D_sentimentData | tojson | safe }};
    </script>
    <script src="{{ url_for('static', filename='js/news.js') }}"></script>
</body>
</html>